header {
	color: grey;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: solid 2px #cccccc;
	position: relative;
}

body {
	background-image: url(../images/vertical-waves.png);
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Times New Roman"
	font-size: 18px;
	width: 100%;
}

.myname {
	position: absolute;
	bottom: 0;
	left: 135px;
	background-color: #4aaaa5;	
	color: white;
	font-family: arial, helvetica new, helvetica, sans-sarriff;
	height: 55px;
	width: 240px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding-top: 20px;
}

a {
	float: right;
	margin-right: 25px;
}

ul li {
	margin-right: 250px;
}

.box1 {
	display: inline-block;
	height: 750px;
	width: 600px;
	margin: 1em;
	background-color: white;
	margin-left: 133px;
}

#port {
	font-size: 25px;
	padding-top: 25px;
	padding-left: 24px;
	color: #4aaaa5;
	font-weight: bold;
}

.box2{
	height: 200px;
	width: 250px;
	background-color: grey;
	float: right;
	margin: 25px;
}

.box22 {
	height: 50px;
	width: 250px;
	background-color: #4aaaa5;
	margin-top: 135px; 
}

#rpg {
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-top: 15px;
}

.box3{
	height: 200px;
	width: 250px;
	background-color: grey;
	float: right;
	margin: 25px;
}

.box33 {
	height: 50px;
	width: 250px;
	background-color: #4aaaa5;
	margin-top: 135px; 
}

#hangman {
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-top: 15px;
}

.box4{
	height: 200px;
	width: 250px;
	background-color: grey;
	float: right;
	margin: 25px;
}

.box44 {
	height: 50px;
	width: 250px;
	background-color: #4aaaa5;
	margin-top: 135px; 
}

#rutgers {
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-top: 15px;
}

.box5{
	height: 200px;
	width: 250px;
	background-color: grey;
	float:right;
	margin: 25px;
}

.box55 {
	height: 50px;
	width: 250px;
	background-color: #4aaaa5;
	margin-top: 135px; 
}

#trivia {
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-top: 15px;
}

.box6{
	height: 200px;
	width: 250px;
	background-color: grey;
	float:left;
	margin: 25px;
}

.box66 {
	height: 50px;
	width: 250px;
	background-color: #4aaaa5;
	margin-top: 135px; 
}

#rock {
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding-top: 15px;
}

#connect {
	float: right;
	height: 150px;
	width: 250px;
	margin: 1em;
	background-color: white;
	margin-right: 250px;
	text-align:center;
}

#connecttext {
	font-size: 25px;
	padding-top: 25px;
	padding-left: 24px;
	color: #4aaaa5;
	font-weight: bold;
}

#icons {
	padding-top: 30px;
}

#linkedinicon {
	height: 50px;
	width: 50px;
}

#giticon {
	height: 50px;
	width: 50px;
}

#stackoverflowicon {
	height: 50px;
	width: 50px;
}

.footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #666666;
  text-align: center;
  color: white;
}